
<h3>Edit <%="#{@tool.name}" %></h3>
<%= form_with url: "/tools/#{@tool.id}", method: :patch, local: true do |form| %>

  <%= form.label :name %><br>
  <%= form.text_field :name %><br>
  <%= form.label :price %><br>
  <%= form.number_field :price%><br><br>
  <%= form.label "On sale or not on sale" %><br>
  <%= form.label :on_sale, "on sale" %>
  <%= form.radio_button :on_sale, true %><br>
  <%= form.label :on_sale, "full price" %>
  <%= form.radio_button :on_sale, false %><br><br>
  <%= form.submit 'Update tool'%>
<% end %>
