!!!!!!!!!!!!


<h3>Edit <%="#{tool.name}" %></h3>
<%= form_with url: "/stores#{@store.id}/tools/#{tool.id}", method: :patch, local: true do |form| %>

  <%= form.label :name%><br>
  <%= form.text_field :name %><br>
  <%= form.label :price %><br>
  <%= form.number_field :price%><br><br>
  <%= form.label "On sale or not on sale" %><br>
  <%= form.label :open, "on sale" %>
  <%= form.radio_button :open, true %><br>
  <%= form.label :open, "full price" %>
  <%= form.radio_button :open, false %><br><br>
  <%= form.submit 'Add tool'%>
<% end %>
