<div class="text-right">
  <button type="button" class="btn btn-danger" style="float: right;"><a href="/tools">Tool list</a></button>
</div>
<div class="text-right">
  <button type="button" class="btn btn-danger" style="float: right;"><a href="/stores">Store list</a></button>
</div>

<h3><%= @store.name %>!!!</h3>

  <% @tools.each do |tool| %>
  <a href=<%= "/stores/#{@store.id}/tools/#{tool.id}"%>> <%= tool.name %></a>
  <ul>
      <li>$ <%= tool.price %></li>
      <li><% if tool.on_sale == true then %>
        Yay! On sale!
        <% else %>
        Sorry, full price for you.
      <% end %></li>
  </ul>
  <a href=<%= "/tools/#{tool.id}/edit"%>>update <%= tool.name %></a>
  <br>
  <%= link_to 'Delete', "/stores/#{@store.id}/tools/#{tool.id}", method: :delete %>
  <br>
  <% end %>
<br>
<br>

<a href=<%= "/stores/#{@store.id}/tools/new"%>>Add new tool</a>
<br>
<button type="button" ><a href=<%= "/stores/#{@store.id}/tools/sort"%>>Sort alphabetically</a></button>
<button type="button" ><a href=<%= "/stores/#{@store.id}/tools"%>>Sort by creation</a></button>
