<h3><%= @manufacturer.brand %>'s guitars </h3>
<strong><a href= <%= url_for(action: 'new_guitar', controller: 'manufacturers') %> >Add Guitar</a></strong><br>
<%= link_to "Sort Alphabetically", "/manufacturers/#{@manufacturer.id}/guitars/?sort=alpha" %>

<%= form_with url: "/manufacturers/#{@manufacturer.id}/guitars", method: :get, local: true do |form| %>
  <%= form.number_field :price_filter %>
  <%= form.submit "Only return records more expensive"%>
<% end %>

<div class="d-flex flex-wrap justify-content-around pg-3">
<% @guitars.each do |guitar| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= guitar.model %></h5>
      <p class="card-text">
        <ul>
          <li>
            <% if guitar.sold == true %>
              This guitar is sold out.
            <% else %>
              This guitar is available!
            <% end %>
          </li>
          <li>$<%= guitar.price %></li>
        </ul>
      </p>
      <a href="/guitars/<%= guitar.id %>/edit" id="edit-<%= guitar.id%>" class="btn btn-primary">Update Guitar</a>
    </div>
  </div>
<% end %>
</div>
